<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <form action="/" method="POST">
    <input name="task">
    <button type="submit">ADD</button>
  </form>

  <ul>
    {{#each tasks as |t| }}
      <li>{{t}}</li>
    {{/each}}
  </ul>

</body>
</html>
