.button{
    width: 100%;
    background-color: rgb(209, 202, 212);
    color:black;

}
.table{
    background-color: tan;
    /* margin: 50pt; */
    
}
/* .divclass{
    text-align: center;     KUCH USE NAHI HAI ISKAA!! BEKAR HAI
    margin: auto;

} */