#calculator{
    border: 1px solid black;
    width: 510px;
    height: 550px;
    padding: 10px;
    margin: 50px;
    text-align: center;
    background-color: rgb(102, 102, 102);
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px 25px 5px black;
}
.btn{
    background-color: rgb(158, 158, 158);
    height: 50px;
    width: 100px;
    float: left;
    margin: 10px;
    font-size: 2em;
    border: 1px solid gray;
    box-shadow: inset 0 0 10px azure;
}
.btn:active{
    transform: scale(1.5)
}
#keypad{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 500px;
    border: 5px solid gray;
}
#display{
    padding: 10px;
    margin: 10px;
    font-size: 2em;
    text-align: right;
    background-color: cadetblue;
    border: 2px solid rgb(64, 106, 107);
    color: rgb(64, 106, 107);
}
img{
    height: 50px;
    margin: 10px;
    display: inline-block;
}